
<article>
    {% if page.mainimg %}
    <div class="bodybox" style="background-image: url({{ page.mainimg }}), linear-gradient(to right, #0e3911, #002b13, #0e232f, #192948); background-position: center; background-size: cover; height: 320px; box-shadow: inset 6px 6px 16px black, inset -6px -6px 16px #000000bf, 0 2px 6px #ffffff0f;">
    {% else %}
    <div class="bodybox"{% if page.primcolor %} style="background-color: {{page.primcolor}};"{% endif %}>
    {% endif %}

        <pre id="nowviewing" {% if page.mainimg %} class="moreshadow" {% endif %} aria-hidden="true">now viewing: <a {% if page.mainimg %} class="moreshadow" {% endif %} href="{{ site.sourceprefix }}{{ page.path }}">{{ page.name }}</a></pre>
        <h1 {% if page.mainimg %} class="moreshadow" {% endif %}>{{ page.title }}</h1>
        {% if page.tags.size >= 1 %}
        <pre {% if page.mainimg %} class="moreshadow" {% endif %}>tags: {% for each in page.tags %}<a class="moreshadow" href="/sitemap#sect-{{ each }}">{{ each }}</a> {% endfor %}</pre>
        {% endif %}
    </div>
