<footer>
            <div id="fcolordiv">
                <div id="ftilediv"></div>
                <div id="fcontentdiv">
                    <div id="cw">
                        <h3>{{ site.copyrightyear }} 4096kb</h3>
                    </div>
                    <div id="eeto">
                        {% for entry in site.data.ftgifs.files %}
                        {% if entry.rel %}
                            <a rel="{{ entry.rel }}" href="{{ entry.href }}">
                        {% elsif entry.href %}
                            <a href="{{ entry.href }}">
                        {% endif %}
                        <img src="{{ site.data.ftgifs.basedir }}{{ entry.file }}" alt="{{ entry.alt }}"/>{% if entry.href %}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
