<header>
    <div id="hcolordiv">
        <div id="htilediv"></div>
        <div id="logonav">
            <a id="headera" href="/"><img id="headerimg" src="/assets/webp/4096kb.webp" alt="4096kb website logo. It's a pixel art rhombus with the text '4096kb' and a rainbow is coming out of the '6'."/></a>
            <nav><a href="/"><u>home</u></a> | <a href="/about"><u>about</u></a> | <a href="/sitemap"><u>sitemap</u></a> | <a href="/feed.xml"><u>rss</u></a> | <a href="/wiki"><u>wiki</u></a></nav>
        </div>
    </div>
</header>
