<head>
    <title>{{ page.titletag }} | 4096kb.gay</title>
    <meta name="description" content="{{ page.desc }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link rel="alternate" type="application/rss+xml" href="https://{{ site.url }}/feed.xml" title="4096kb.gay RSS" />
</head>
