            <aside>
                <div id="contside">
                    {% if page.authors %}
                    {% for author in page.authors %}
                    {% assign person = site.data.authors.profiles[author] %}
                    <div class="bodybox">
                        <h2>Page Contributor:</h2>
                        <div class="bioflex">
                            <img src="{{ person.photo }}" alt="{{ person.photoalt }}"/>
                            <div>
                                <p itemprop="contributor" itemtype="http://schema.org/Person" style="font-size: 0;margin: 0;padding: 0;">{{ person.longname }}</p>
                                <p><b>{{ author }}</b></p>
                                <p>{{ person.pronouns }}</p>
                                <p>{{ person.info1 }}</p>
                                <p>{{ person.info2 }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="bodybox">
                        <h2>Page Author:</h2>
                        <div class="bioflex">
                            <img src="/assets/authorimgs/4096kb.webp" alt="My profile picture. It's a pixel-art kitty on a red background."/>
                            <div>
                                <p itemprop="author" itemtype="http://schema.org/Person" style="font-size: 0;margin: 0;padding: 0;">4096 Kilobyte</p>
                                <p><b>4096kb</b></p>
                                <p>he/him/his</p>
                                <p>Compsci Major</p>
                                <p>Junior</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% assign firstsix = page.dir | slice: 0, 6 %}
                    {% unless firstsix == "/wiki/" %}
                    <div class="bodybox">
                        <h2>recent posts:</h2>
                        <ul>
                            {% for post in site.posts limit:10 %}
                            <li><a href="{{ post.permalink }}">{{ post.date | slice: 0, 10 }}: {{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endunless %}
                </div>
            </aside>
