---
layout: null
---
@font-face{
    font-family: terminus;
    src: url(/assets/terminus.ttf);    
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    color: gainsboro;
}

body{
    margin: 0;
    background-color: #333;
}

#hcolordiv, #fcolordiv{
    overflow: hidden;
    box-shadow: inset 5px 5px #111, inset -5px -5px #111, inset #0008 75px 75px 160px, inset 10px 10px 45px black, inset -10px -10px 45px black, 5px 0 15px #2d2d2d;
    display: flex;
    justify-content: center;
}

#hcolordiv{
    width: 100%;
    height: 128px;
    background-image: linear-gradient(to right, #000, #a24b4b, #826f27, #000);
}

#fcolordiv{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, #40712e, #2b5948, #1b6184, #20175e);;

}


footer{
    margin: 0;
    padding: 0;
}

#htilediv, #btilediv, #ftilediv{
    width: 100%;
    background-position: center center;
    background-repeat: repeat;
    opacity: .2;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

#ftilediv {
    height: 150px;
}

#htilediv, #ftilediv{
    background-image: url(/assets/tiles/hpattern.webp);
    height: inherit;
    z-index: 1;
}

#hcolordiv nav{
    color: #aeaeae00;
    font-family: "terminus", monospace;
    text-shadow: 0px 0px 0px white, 1px 0px 0 #d0d0d0, 2px 0px 0 #979797c9, 3px 0px 0 #7b7b7bd1, 4px 0px 0 #5e5e5ede, 5px 0px 0 #26262680, 5px 0px 0 #17171794, 6px 0px 0 #13131396, 7px 0px 0 #00000026, 8px 0px 0 #0000002e,2px 2px 10px black;
    font-weight: lighter;
    padding: 10px;
    font-size: 32px;
    margin: auto 0;
}

#hcolordiv nav a{
    text-decoration-line: underline;
}

#fcolordiv h3{
    color: #aeaeae00;
    font-family: "terminus", monospace;
    text-shadow: 0px 0px 0px white, 1px 0px 0 #d0d0d0, 2px 0px 0 #979797c9, 3px 0px 0 #7b7b7bd1, 4px 0px 0 #5e5e5ede, 5px 0px 0 #26262680, 5px 0px 0 #17171794, 6px 0px 0 #13131396, 7px 0px 0 #00000026, 8px 0px 0 #0000002e,2px 2px 10px black;
    font-weight: lighter;
    padding: 36px;
    font-size: 28px;
    margin: auto;
}

#hcolordiv nav a{
    color: #aeaeae00;
}

#headerimg{
    width: calc(96px *3);
    height: 90px;
    image-rendering: pixelated;
}

#headera{
    margin: auto auto auto 0;
}

#logonav{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    width: 95vw;
    z-index: 2;
}

#content{
    min-height: calc(100vh - 288px);
    display: flex;
    margin: 0;
    background-image: url(/assets/tiles/bpatterndark.webp);
    padding: 0 10px 10px 10px;

}

#contmain{
    width: 100%;
    padding: 0px 10px 0px 0px;
}

#contside{
    width: 350px;
}

.bioflex{
    display:flex;
}

.bioflex img{
    width: 156px;
    height: 156px;
    padding: 10px;
    border-radius: 32px 0px 32px 0px;
}

.bioflex div{
    width: 15vw;
}

.bioflex div{
    margin: auto 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content li, #content pre, #content hr, #content a, .footnotes ol:before, #content th, #content td, #content audio{
    padding: 2px 10px;
    margin: 6px;
    color: white;
    font-family: "terminus";
    font-weight: lighter;
    text-shadow: 1px 0 #444, 2px 0 #2b2b2b, 2px 2px 8px black;
}

#content h1{
    font-size: 32px;
    padding: 5px 10px;
}

#content h2{
    font-size: 24px;
}

#content h3{
    font-size: 20px;
}

#content h4{
    font-size: 18px;
}

#content h5, #content h6{
    font-size: 18px;
    font-style: oblique;
}

#content h1::before, #content h2::before, #content h3::before, #content h4::before, #content h5::before, #content h6::before{
    content: "> ";
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
    text-transform: lowercase;
}

#content p, #content li, #content pre{
    font-size: 18px;
}

#content pre{
    white-space: pre-wrap;
}

#content a{
    color: #c7ef86;
}

#content a.taglink:before{
    margin: 0;
}

#content b{
    font-weight: bold;
}

#content li{
    padding: 2px 2px;
    margin-right: 16px;
}

#content ul{
    list-style-type: square;
    margin: 0;
}

#content code, li code{
    font-family: terminus;
}

#content p code, li code{
    box-shadow: inset #000 0px 0px 2px 2px;
    background: #151515;
    padding: 2px 5px;
    border-radius: 4px;
}

#content p a, #content h1 a, #content h2 a, #content h3 a{
    padding: 0;
}

#content p img, #content li img, #content video{
    max-height: 40vh;
    max-width: 100%;
    box-shadow: 3px 3px 8px #111, 0 2px 6px #ffffff0f;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#content table{
    max-width: calc(100% - 16px);
    width: max-content;
    margin: auto;
    display: block;
    white-space: initial !important;
    border-collapse: collapse;
    border-radius: 8px 0px 8px 0px;
    overflow: auto;
    background: #111;
}

#content thead{
    background: #333;
}

#content tr{
    box-shadow: inset 2px 2px 8px #b5b5b521, inset -2px -2px 4px #00000069;
}

#content th, td{
    padding: 10px !important;
    box-shadow: inset 5px 5px 8px #7d7d7d0a, inset -2px 0px 2px #00000073;
    text-align: left;
}

#content td{
    box-shadow: inset 3px 3px 9px #ffffff0a, inset -3px -3px 9px #00000059;;
    background: #181818;
}

#content img.centered, #content video.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content audio{
    width: calc(100% - 32px);
}

#content object{
    padding: 2px 10px;
    width: calc(100% - 20px);
}

.moreshadow{
    text-shadow: 1px 0 #444, 2px 0 #2b2b2b, 2px 2px 8px black, 0 0 8px black, 0 0 16px black, 0 0 24px black !important;
}

.bodybox, .warnbox, section, .footnotes {
    background-color: #222a;
    border-radius: 16px 0px 16px 0px;
    padding: 6px 4px;
    margin: 10px 0px;
    box-shadow: inset 3px 3px 8px #111, 0 2px 6px #ffffff0f;
}

.footnotes ol:before{
    content: "> footnotes";
    font-size: 24px;
    margin: -32px;
}

.warnbox div:nth-of-type(1){
    background-image: url(/assets/tiles/warntile.webp);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .03;
}

.warnbox div:nth-of-type(2){
    background-image: url(/assets/gif/notfound.gif);
    width: 296px;
    height: 256px;
    margin: 0 auto;
    background-size: cover;
}

.warnbox {
    padding: 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.warnbox h1{
    font-size: 144px !important;
    text-shadow: 10px 10px 15px black !important;
    padding: 0px 10px !important;
}

.warnbox h1::before{
    content: "" !important;
}

.warnbox pre, .warnbox a{
    padding: 0px 10px 10px 10px !important;
    font-size: 32px !important;
}

#contspacer{
    text-align: center;
    background-color: #222a;
    border-radius: 16px 0px 16px 0px;
    box-shadow: inset 3px 3px 8px #111;
    padding: 5px;
    text-align: center;
}

#contspacer hr{
    width: calc(100% - 30px);
    padding: 0px;
    margin: 5px auto 10px auto;
}

#contspacer pre{
    padding: 10px 0px 0px 0px;
}

.codediv, div.highlight pre.highlight, blockquote{
    background-color: #1a1a1a;
    padding: 2px 12px !important;
    margin: 0px 10px;
    box-shadow: inset 3px 3px 8px #000, 0 2px 6px #ffffff08;;
    border-radius: 8px 0px 8px 0px;
    display: grid;
    overflow: auto;
    white-space: pre !important;
    padding: 12px !important;
}

#content blockquote{
    white-space: unset !important;
    padding: 10px;
    font-style: oblique;
    text-align: center;
}

#content pre a, #content p a, #content li a, #content td a, #content th a{
    margin: 0;
    padding: 0;
}

div.highlight{
    padding: 4px;
}

.codediv code, .codediv pre{
    color: white;
    font-family: "Terminus";
}

.codediv pre{
    counter-reset: line;
    font-size: 16px !important;
    white-space: pre !important;
    width: 1px;
}

.codediv pre span:before {
    counter-increment: line;
    content: counter(line);
    padding: 0 8px;
    margin-right: 5px;
    color: #888;
}

div.footnotes ol li{
    padding: 0 !important;
}

div.footnotes{
    padding: 2px;
}

#fcontentdiv{
    display: flex;
    width: 100vw;
    z-index: 2;
}

#cw{
    flex:1;
    min-width: 17em;
    margin: auto 0;
}

#eeto{
    padding: 30px;
    background-color: #00000057;
    border-radius: 16px 0px 16px 0px;
    margin: 16px 16px;
    box-shadow: inset 3px 3px 8px #111, 0 2px 6px #ffffff1a;
    overflow: auto;
    width: calc(100vw - 18em);
    text-align: center;
}

#eeto img{
    width: 88px;
    height: 31px;
}

#lmarg, #rmarg{
    display: none;
}

/* Terminal Code Chunk Theming */
{% for codeclass in site.data.codeclasses.classes %}
div.{{ codeclass.class }} div pre code::before {
    content: "{{ codeclass.text }} {% if codeclass.newline %}\a{% endif %}" attr(title);
    white-space: pre;
    color: {{ codeclass.color }};
    font-style: {{ codeclass.style }};
}

{% endfor %}

@media only screen and (min-width: 1024px) and (max-width: 1223px){
    #contmain{
        width: calc(100% - 360px);
    }
}

@media only screen and (max-width: 1023px) {
    #content{
      min-height: calc(100vh - 370px);
      display: grid;
      width: 100%;
      padding: 0;
  }
  #contside{
      padding: 0 10px;
      width: calc(100% - 20px);
  }
  #contmain{
      padding: 0 10px;
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      min-width: calc(100% - 20px);
  }
  #hcolordiv{
      height: 200px;
  }
  #logonav{
      display: grid;
      justify-content: unset;
      width: unset;
  }
  #headera{
      margin: .25rem auto;
  }
  #hcolordiv h1{
      margin: 0;
  }
    .warnbox h1{
        font-size: 72px !important;
    }
    .warnbox pre, .warnbox a{
        font-size: 36px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 649px){
    #hcolordiv nav{
        font-size: 24px;
    }
    #content h1{
        font-size: 24px;
        padding: 5px 10px;
    }

    #content h2{
        font-size: 20px;
    }

    #content h3{
        font-size: 18px;
    }

    #content p, #content li, #content pre{
        font-size: 16px;
    }
    #fcontentdiv{
        display: grid;
        text-align: center;
    }
    #cw h3{
        padding: 16px 16px 0px 16px;
    }
    #eeto{
        width: auto;
        padding: 24px;
    }
    #fcolordiv, #ftilediv{
        height: 200px;
    }
    .warnbox h1{
        font-size: 52px !important;
    }
    .warnbox pre, .warnbox a{
        font-size: 24px !important;
    }
    .warnbox div:nth-of-type(2){
        width: 148px;
        height: 128px;
    }

}

@media only screen and (min-width: 1224px){
    #lmarg, #rmarg{
        display: unset;
        opacity: .25;
        width: calc(100vw - 1220px);
    }
    #lmarg div, #rmarg div{
        background-image: url(/assets/tiles/margintile.webp);
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    #rmarg{
        box-shadow: inset 30px 0 30px 30px rgba(255, 255, 255, 0.04);
    }
    #rmarg div{
        box-shadow: inset 30px 0 30px 30px rgba(0, 0, 0, 0.77);
    }
    #lmarg{
        box-shadow: inset -30px 0px 30px 30px rgba(255, 255, 255, 0.04);
    }
    #lmarg div{
        box-shadow: inset -30px 0px 30px 30px rgba(0, 0, 0, 0.77);
    }
    #content{
        margin: 0;
    }
    #cw h3{
        padding: 36px 36px 36px 8px;
    }
    #fcontentdiv{
        width: 1200px;
    }
    #logonav{
        width: 1190px;
    }
    #contmain{
        min-width: 830px;
        max-width: 830px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1023px){
    #content{
        padding: 0 0 10px 0;
    }
    #contside{
        display: flex;
    }
    #contside div:nth-of-type(1){
        width: 320px;
        margin: 12px 12px 0px 0px;
    }
    #contside div:nth-of-type(2){
        width: 100%;
        margin: 12px 0px 0px 0px;
    }
}

@media only screen and (max-width: 479px){
    #hcolordiv nav{
        font-size: 18px;
    }
}
