<!DOCTYPE html>
<html lang="en">
    {% include htmlhead.html %} 
    <body>
        {% include header.html %}
        <div id="content">
            {% include lmarg.html %}
            <div id="contmain">
                {% include articlein.html %}
                {{ content }}
                {% include articleout.html %}
            </div>
            {% include sidematter.html %}
            {% include rmarg.html %}
        </div>
        {% include footer.html %}
    </body>
</html>

